%div{:id => "#{dom_id car}"}
%table.table
  %thead
    %tr
      %th{scope: "col"} name
      %th{scope: "col"} Dealer
      %th{scope: "col"} Model
      %th{scope: "col"} Price
    
  %tbody
    
    - Car.all.each do |car|
      %tr
        
        %td= car.name
        %td= link_to car.dealer.name, car.dealer
        %td= link_to car.model.name, car.model
        %td= car.price

  