%div{:id => "#{dom_id car}"}     
        
        %p= car.name
        %strong Dealer 
        %p= link_to car.dealer.name, car.dealer
        %strong Model 
        %p= link_to car.model.name, car.model
        %strong Price 
        %p= car.price
 
