= form_with(model: car) do |form|
  - if car.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(car.errors.count, "error")
        prohibited this car from being saved:
      %ul
        - car.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :name, style: "display: block"
    = form.text_field :name
  %div
    = form.label :price, style: "display: block"
    = form.number_field :price
  %div
    %p Dealer name:
    = form.select :dealer_id, options_for_select(@dealers.collect{ |d|[d.name, d.id]})
  %div
    %p Model name:
    = form.select :model_id, options_for_select(@models.collect{ |m|[m.name, m.id]})
  %p
  %div
    = form.submit
